<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1195478807136180',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- AQUI ENTRA TODOS OS SCRIPTS DO HEADER -->
<p>Bem vindo <%= @user.email %></p>
<input type="text" class="transfer__input" />
<button class="transfer__button">Transferir</button>
<%= link_to 'Vaga', new_vacancy_path %>
<%= link_to 'Completa inscrição', new_complement_path %>


<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
<p>Para caso ja tenha selecionado a vaga na pre inscricao</p>

<% if @complemento!=nil %>
<p>Opções de pagamento:</p>

 
<%= button_to 'Gerar Boleto', {:controller => "gerencianet", :action => "transacao", :nome_usuario => @complemento.name, :cpf => @complemento.cpf, :email => @user.email, :id_user => @user.id } , :method=>:post  %><br>

<%= button_to 'Cartao de Crédito', {:controller => "pagarme", :action => "paginacartao"} , :method=>:post  %>
<%else%>
<p>Escolha uma vaga e termina de preencher seus dados para acessar as opcoes de pagamento</p>

<button type="button" disabled>Gerar boleto</button><br><br>

<button type="button" disabled>Cartão de crédito</button><br>
<%end%>
<br><br>   

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<script type="text/javascript">
function sair(){
  FB.logout(function(response) {
  // user is now logged out
});
}

</script>
