<p id="notice"><%= notice %></p>

<h1>Listing Jes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jes.each do |je| %>
      <tr>
        <td><%= je.name %></td>
        <td><%= link_to 'Show', je %></td>
        <td><%= link_to 'Edit', edit_je_path(je) %></td>
        <td><%= link_to 'Destroy', je, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Je', new_je_path %>
